/* noto-sans-jp-regular - latin_japanese */
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/fonts/noto-sans-jp-v42-latin_japanese-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/noto-sans-jp-v42-latin_japanese-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-jp-700 - latin_japanese */
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("/fonts/noto-sans-jp-v42-latin_japanese-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/noto-sans-jp-v42-latin_japanese-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(""), url("/fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(""), url("/fonts/roboto-v30-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-bg: #faeee7;
  --color-bg-alpha: rgba(250, 238, 231, 0.7);
  --color-headline: #33272a;
  --color-paragraph: #594a4e;
  --color-card-bg: #fffffe;
  --color-card-headline: #33272a;
  --color-card-paragraph: #594a4e;
  --color-button-bg: #ff8ba7;
  --color-button-hover-bg: #fffffe;
  --color-button-text: #33272a;
  --font-family-base: "Roboto", "Noto Sans JP", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--color-bg);
  color: var(--color-paragraph);
  font-family: var(--font-family-base);
  font-weight: 400;
}
