---
import { Prism } from '@astrojs/prism';
const { code, lang, label } = Astro.props as { code: string; lang: string; label?: string };
---

<div class="container">
  {
    label && (
      <span class="label">{label}</span>
    )
  }
  <Prism lang={lang} code={code} />
</div>

<style>
  .container {
    position: relative;
    background-color: #272822;
  }
  .container + .container {
    margin-top: 3rem;
  }
  .label {
    position: absolute;
    top: 0;
    display: block;
    padding: 0 0.5rem;
    border-radius: .25rem .25rem 0 0;
    background-color: #ff9800;
    color: #fff;
    line-height: 1.5;
    transform: translateY(-100%);
  }
</style>