---
---

<header id="header" class="header">
  <span class="header__item header-title"><a href="/" class="header-link">Shader Cubicle</a></span>
  <!-- <a class="header__item header-sns" href="https://twitter.com/yend724" target="_blank">Twitter</a> -->
  <a class="header__item header-sns" href="https://github.com/yend724/shader-cubicle" target="_blank">GitHub</a>
</header>

<style>
  .header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    background-color: var(--color-bg-alpha);
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    z-index: 1000;
  }
  .header-title {
    flex-grow: 1;
    font-size: 1.25rem;
  }
  .header-link {
    color: var(--color-card-headline);
    font-weight: 600;
  }
  .header-sns {
    display: inline-block;
    padding: 0.4rem 0.6rem;
    background-color: var(--color-button-bg);
    color: var(--color-button-text);
    font-weight: 600;
    border: 3px solid var(--color-button-bg);
    transition: all .2s ease-out;
  }
  @media (hover: hover) {
    .header-sns:hover {
      background-color: var(--color-button-hover-bg);
    }
  }
  @media screen and (max-width: 767px) {
    .header {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
</style>