---
import "destyle.css"
import "../assets/css/common.css"
import site from "../data/site.json"
import Head from "../components/Head.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
const { title } = Astro.props as { title: string };
---

<html lang="ja">
<head>
  <Head title={title} isTop={true} />
</head>
<body>
  <div class="wrapper">
    <Header />
    <main class="main">
      <div class="hero">
        <h1 class="hero__title">{site.meta.title}</h1>
        <p class="hero__text">{site.meta.description}</p>
      </div>
      <div class="section">
        <slot />
      </div>
    </main>
    <Footer />
  </div>
</body>
</html>
<style>
  .wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
  }
  .hero {
    padding: 2rem;
    text-align: center;
  }
  .hero__title {
    max-width: 64rem;
    margin: 0 auto;
    color: var(--color-headline);
    font-size: 1.5rem;
    font-weight: 600;
  }
  .hero__text {
    max-width: 64rem;
    margin: 1rem auto 0;
    font-size: 1rem;
  }
  .section {
    padding: 2rem
  }
  @media screen and (max-width: 767px) {
    .hero__title {
      font-size: 1.25rem;
    }
    .section {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
</style>